/*
Body
*/
body {
  background: #151515 url("../files/bkg.png") 0 0;
  color: #eaeaea;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
/*
Headers
*/
header{
  background-image: url("../files/tech_vader.jpg"), url("../files/tech_vader.jpg"), url("../files/tech_vader.jpg"), url("../files/tech_vader.jpg"), url("../files/tech_vader.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position:500px top, 750px top, 1000px top, 1250px top, 1500px top;
  width: 100%;
  border-bottom: 1px dashed #B5E853;
  padding: 20px 0;
}
header h1::before {
  content: "./ ";
  font-size: 24px;
}
header h1 {
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}
header h2{
  font-size: 18px;
  font-weight: 300;
  color: #666;
}
/*
Nav Bar
*/
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  position: absolute;
  overflow: auto;
}
li a{
  display: block;
  text-decoration: none;
  padding: 20px;
  background-color: clear;
  border: 1px dashed #B5E853;
  font-size: 24px;
}
li a.active{
  background-color: #B5E853;
  color: black;
}
li a:hover:not(.active){
  background-color: blue;
  color: white;
}
/*
Links
*/
a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}
/*
Main Content
*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}
#main_content {
  margin-left:20%;
  position: relative;
  padding: 1px 16px;
  -webkit-font-smoothing: antialiased;
  min-height: 600px;
}
#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

/*
Footer
*/
footer{
  bottom: 0;
}
pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: #b5e853;
  border-radius: 2px;
  text-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}
